<h1>Hallo, home here</h1>
<ul>
  {{#each marskiniai}}
    <li> 
      markė: {{this.brand}} |
      modelis: {{this.model}} |
      dydis: {{this.size}} |
      kaina: {{this.price}} |
      <span class="delete" id="{{this.id}}">X</span>
    </li>
  {{/each}}
</ul>
<p>{{puslapiavimas.puslapiuKiekis}}</p>
<div>
  <h3>limits</h3>
  <div>
    <a href="./?limit=3">3</a>
  </div>
  <div>
    <a href="./?limit=5">5</a>
  </div>
  <div>
    <a href="./?limit=10">10</a>
  </div>
</div>
<div>
  <h3>skips</h3>
  <div>
    <a href="./?skip=-{{puslapiavimas.rodymoKiekis}}">atgal</a>
  </div>
  <div>
    <a href="./?skip={{puslapiavimas.rodymoKiekis}}">prieki</a>
  </div>
</div>

<script>
  document.querySelectorAll("ul .delete").forEach(btn => {
    btn.addEventListener("click", e => {
      fetch(`/api/marskiniai/${e.target.id}`, {
        method : "DELETE"
      })
      .then(e.target.parentElement.remove());
      //.then(location.reload());
    });
  });
</script>